/* styles in src/style directory are applied to the whole page */
body {
  color: #fff;
  margin: 0;
  overflow: hidden;
}

a {
  color: #03A9F4;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
  display: flex;
  height: 100vh;
  background-color: white;
  align-items: stretch;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

#graph {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

#graph text {
    user-select: none;
    cursor: default;
}

#ctxMenu {
    position: absolute;
    min-width: 120px;
    padding: 5px 0;
    font-size: 12px;
    background-color: white;
    color: black;
    border: 1px solid black;
    box-shadow: 0 0 3px lightgrey;
}

#ctxMenu button {
    width: 100%;
    padding: 0 20px;
    margin: 0;
    text-transform: none;
}

#sidebar {
  position: relative;
  min-width: 300px;
  background-color: #0d47a1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 40px 10px;
}

.sidebar-vis {
  position: absolute;
  top: 0;
  background-color: #1e88e5;
  color: white;
  border: none;
  left: 0;
}

#sidebar .sidebar-vis {
  right: 0;
  left: inherit;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.muted {
  color: #aaa;
}

.autocompleteSubtext {
  font-size: 10px;
  color: #aaa;
}

.md-autocomplete-suggestions li {
    padding: 10px 15px;
    height: inherit;
    line-height: inherit;
}

.filters {
    margin: -10px;
    padding: 0;
    list-style: none;
}

.filter {
    padding: 10px;
    position: relative;
}

.filter .name {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 255px;
    overflow: hidden;
    display: block;
    margin-left: 20px;
    user-select: none;
    cursor: default;
}

.filter.ghost {
    background-color: rgba(0,0,0,.5);
}

.filter .delete {
    position: absolute;
    right: 10px;
    top: 10px;
}

.filter .flip {
    position: absolute;
    left: 10px;
    top: 10px;
}

.filter .plus {
    color: lightgreen;
}

.filter .plus:hover {
    color: red;
}

.filter .minus {
    color: red;
}

.filter .minus:hover {
    color: lightgreen;
}

div.legend ul li div.icon {
  position:absolute;
  left:20px;
}

div.legend ul li div.name {
  margin-left: 20px;
}

div.legend ul li {
  padding-bottom:5px;
}

div.legend ul {
  list-style:none;padding:10px;margin-top:0px;
}
