/* styles in src/style directory are applied to the whole page */
body {
  color: #fff;
  margin: 0;
}

a {
  color: #03A9F4;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
  display: flex;
  height: 100vh;
  background-color: black;
  align-items: stretch;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

#graph {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

#sidebar {
  min-width: 300px;
  background-color: #0d47a1;
  overflow: auto;
  padding: 40px 10px;
}

.muted {
  color: #aaa;
}

.autocompleteSubtext {
  font-size: 10px;
  color: #aaa;
}

.md-autocomplete-suggestions li {
    padding: 10px 15px;
    height: inherit;
    line-height: inherit;
}

.filter {
    padding: 5px;
    position: relative;
}

.filter .name {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 280px;
    overflow: hidden;
    display: block;
}

.filter .delete {
    position: absolute;
    right: 0;
    top: 5px;
}
