
<main cg-busy="{promise:longPromise, message:'Loading Data...', delay: 500}">
    <button class="sidebar-vis" ng-show="sidebarHidden" ng-click="sidebarHidden=false"
            title="Show Side Bar">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </button>

    <div id="sidebar" ng-hide="sidebarHidden">
        <button class="sidebar-vis" ng-hide="sidebarHidden" ng-click="sidebarHidden=true"
                title="Hide Side Bar">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>
        <div class="form-group">
            <md-autocomplete
                    md-selected-item="searchItem"
                    md-search-text="searchText"
                    md-items="item in searchQuery(searchText)"
                    md-item-text="item.name"
                    md-min-length="3"
                    md-dropdown-items="100"
                    placeholder="Search">
                <md-item-template>
                    <span ng-attr-title="{{item.title}}">{{item.short_title ? item.short_title : item.name}}</span><br>
                    <span class="autocompleteSubtext">{{item.type}} {{item.bill ? item.bill.bill_id : ""}}</span>
                </md-item-template>
                <md-not-found>
                    No matches found.
                </md-not-found>
            </md-autocomplete>
        </div>
        <hr>

        <h2>Active Filters</h2>
        <span class="muted" ng-hide="filters.length">No filters</span>
        <span class="muted" ng-show="filters.length"><a href="" class="delete" ng-click="clearAll()">Clear All</a></span>
        <ul ng-sortable="sortableConf " class="filters">
            <li ng-repeat="filter in filters" ng-attr-title="{{filter.name}}" class="filter">
                <a href="" class="flip plus" ng-show="filter.additive" ng-click="flipFilter(filter)" title="Negate this filter">
                    <i class="fa fa-plus"></i>
                </a>
                <a href="" class="flip minus" ng-hide="filter.additive" ng-click="flipFilter(filter)" title="Negate this filter">
                    <i class="fa fa-minus"></i>
                </a>
                <span class="name">{{filter.name}}</span>
                <a href="" class="delete" ng-click="removeFilter(filter)"><i class="fa fa-trash"></i></a>
            </li>
        </ul>
    </div>

    <div id="graph"></div>

    <div class="overlay" ng-show="ctxMenu.show"></div>
    <div id="ctxMenu" ng-style="{left:ctxMenu.left+'px', top:ctxMenu.top+'px'}" ng-show="ctxMenu.show" oncontextmenu="return false;">
        <button ng-repeat="item in ctxMenu.items" class="md-button" ng-click="item.action(); ctxMenu.show = false;">
            {{item.name}}
        </button>
    </div>
</main>
